.banner {
  margin-top: 5rem;
}
.container {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  display: grid;
  justify-content: center;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.image {
  background-color: white;
  border-radius: 3rem;
  padding: 0.5rem;
  border: 0.4rem solid rgba(0, 0, 0, 0.626);
  justify-self: center;
  align-self: end;
}

.h1_img {
  font-size: 1rem;
}

.section {
  display: grid;
  justify-content: center;
  margin: 2rem 3rem;
  text-align: center;
}

.h1_sec {
  font-size: 2rem;
}

.h2_sec {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: normal;
}

.p_sec {
  font-size: 0.75rem;
  line-height: 1.3rem;
}
